        <!-- TOTALS CARDS -->
        <table class="summary-cards-table">
            <tr>
                {% for key in cost_keys %}
                <td class="summary-card-cell">
                    <div class="card">
                        <div class="card-title">{{ key.replace('_', ' ') }}</div>
                        <div class="card-body">
                            {% set val = subscriptions | map(attribute=key) | sum %}
                            {{ currency_symbol }}{{ "{:,.2f}".format(val) }}
                        </div>
                        <div class="card-footer">{{ currency_code }} Aggregate</div>
                    </div>
                </td>
                {% endfor %}
            </tr>
        </table>
